NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your-project-id
NEXT_PUBLIC_MORALIS_API_KEY=moralis-api-key
NEXT_PUBLIC_CMC_API_KEY=cmc-api-key