# Database config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=mydb
POSTGRES_PORT=5432

# Backend config
BACKEND_PORT=8000
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
JWT_SECRET=YOUR_JWT_SECRET
ENCRYPTION_KEY=YOUR_ENCRYPTION_KEY
